@import "normalize.css";
h1{
    text-align: center;
}

h2{
    margin-left: 10%;
}

.p{
    height: 300px;
}

#d00{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
    background-color:rgb(192, 212, 255);
    font-size: 20px;
    font-weight: bold;
    color:aliceblue;
    text-align: right;
    padding:10px;
}

.d1{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}

.d1 p{
    text-align: left;
    border: 5px solid gray;
    border-radius:30px;
    margin: 20px;
    padding: 10px;
    width: 40%;
}

.d10{
    float: left;
    height: 300px;
    margin-left: 10%;
}

.pic{
    margin-top: -15%;
    margin-right: 20%;
    float: right;
}

#bo{
    position: fixed;
    bottom:0;
    background-color:rgb(192, 212, 255);
    width:5%;
    height: 4%;
    align-self: flex-end;
    text-align: center;
    font-size: 20px;
    border: 5px solid rgb(192, 212, 255);
    border-radius: 20px;
    margin-top: 10%;
}

a:link{
    color: blue;
}

a:visited{
    color:blue;
}
a:hover{
    color: red;
}

#item{
    width: 100%;
}