@import "normalize.css";
#d0{
    display: flex;
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('/font/webfont_rgvyrf1fa4a/webfont.eot'); /* IE9 */
    src: url('/font/webfont_rgvyrf1fa4a/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/font/webfont_rgvyrf1fa4a/webfont.woff2') format('woff2'),
    url('/font/webfont_rgvyrf1fa4a/webfont.woff') format('woff'), /* chrome、firefox */
    url('/font/webfont_rgvyrf1fa4a/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/font/webfont_rgvyrf1fa4a/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.web-font {
    font-family: "webfont" !important;
    font-size: 5vw;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0.3vw;
    margin-left: 1.2vw;
}

body{
    background-image: url("../static/back\(1\).png");
}

#d0{
    position: fixed;
    top:0%;
    width: 80%;
    background-color: white;
    align-self: flex-start;
    margin-left: 10%;
}

#d0 #head0{
    margin-right: auto;
}
#d0 #head1{
    height: 6.8vw;
}
#d0 .i1{
    display:flex;
    width: 22vw;
    height: 2.5vw;
    margin-top: 2vw;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    background-color: blueviolet;
}
#d0 .i1 input{
    width: 22vw;
    height: 2.1vw;
}
#d0 .i2{
    width: 4vw;
    height: 2.5vw;
    margin-top: 2vw;
    background-color: rgb(226, 64, 43);
}
#d0 .i2 input{
    width: 4vw;
    height: 2.5vw;
}

#d1{
    display:flex;
    width: 100%;
    height: 6.8vw;
    /* background-color:rgba(223, 235, 233, 0.932); */
    /* justify-content: space-around; */
}
#d1 .i0{
    margin-right: auto;
}




#d2{
    display: flex;
    width: 90%;
    height: 1100px;
    /* background-color: blanchedalmond; */
    margin-left: 5%;
    margin-right: 5%;
}
#d2 #ds1{
    display: flex;
    flex-grow: 5;
    width: 25vw;
    height: 1050px;
    flex-direction: column;
    /* background-color: aquamarine; */
    text-align: center;
}
#d2 #ds2{
    position: fixed;
    flex-grow: 1.5;
    height: 30vw;
    padding: 2vw;
    width: 20vw;
    margin-top: 1vw;
    margin-right: 0;
    margin-left: 65%;
    border: 5px solid rgb(116, 171, 219);
    border-radius: 5vw;
    background-color: white;
}

#ds2 h1{
    font-size: 2vw;
    font-weight: bold;
}

#ds2 p{
    font-size: 1.5vw;
}

.fff{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    width: 60vw;
    height: 13vw;

}

.fff .web-font2{
    font-size: 2.5vw;
    font-weight: bold;
}

.fff img{
    height: 13vw;
    width: 14vw;
}
.fff p{
    margin-left: 2vw;
    text-align: left;
    font-size: 1.2vw;
}

.item{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
    width: 57vw;
    padding: 10px;
    display: flex;
    border: 5px solid rgb(183, 190, 231);
    background-color: rgb(242, 245, 247);
    border-radius:25px;
}

.change button{
    width: 3vw;
    font-size: 0.8vw;
    background-color:aliceblue;
    border: 2px solid rgb(160, 178, 238);
    border-radius: 5px;
}


#bo{
    position: fixed;
    bottom:0;
    background-color:rgb(192, 212, 255);
    width:5%;
    height: 3%;
    align-self: flex-end;
    text-align: center;
    font-size: 1.3vw;
    border: 5px solid rgb(177, 160, 238);
    border-radius: 20px;
    margin-top: 10%;
}

#b1{
    display: flex;
    margin-top: 2vw;
    padding: 0.5vw;
    bottom:0;
    background-color:rgb(192, 231, 255);
    width:100%;
    height: 5vh;
    font-size: 2vw;
    font-weight: bold;
    align-self: flex-end;
    justify-content: space-around;
}

a:link{
    color: blue;
}

a:visited{
    color:blue;
}
a:hover{
    color: red;
}

#item{
    width: 100%;
}

@media (max-width: 540px) 
{
    #d0{
        width: 90vw;
        height: 14vw;
        margin-left: 5%;
    }
    #d0 #head1{
        height: 14vw;
    }
    #head0{
        margin-top: 1.3vw;
    }
    .web-font{
        font-size: 8vw;
    }
    #d0 .i1{
        margin-top: 2vw;
        height: 5vw;
        background-color: rgb(255, 250, 250);
    }
    #d0 .i1 input{
        margin-top: 2vw;
        margin-left: -12.2vw;
        width: 26vw;
        height: 5vw;
    }
    #d0 .i2{
        margin-top: 2vw;
        height: 8vw;
        background-color: rgb(253, 250, 250);
    }
    #d0 .i2 input{
        margin-left: -7vw;
        width: 10vw;
        height: 6vw;
        margin-top: 2vw;
    }
    #bo{
        border: 5px solid rgb(85, 114, 241);
    }
    #d1{
        height: 14vw;
    }
    #d2 #ds2{
        margin-left: 70%;
    }
    #ds2 h1{
        font-size: 3vw;
    }
    #ds2 p{
        font-size: 2.5vw;
    }
    #ds1{
        margin-left: -7vw;
    }
    .item{
        width: 65vw;
        height: 20vw;
    }
    .fff img{
        margin-top: 3.5vw;
        height: 13vw;
        width: 14vw;
    }
    .change button{
        width:6vw;
        font-size: 2px;
        margin-left: 0%;
        margin-right: -3vw;
    }
    #b1{
        font-size: 5vw;
    }
}